@import "tailwindcss";

:root {
  --govbr-blue-warm-vivid-90: #071d41;
  --govbr-blue-warm-vivid-80: #0c326f;
  --govbr-blue-warm-vivid-70: #1351b4;
  --govbr-blue-warm-vivid-60: #2670e8;
  --govbr-green-cool-vivid-50: #168821;
  --govbr-yellow-vivid-20: #ffcd07;
  --govbr-red-vivid-50: #e52207;
}

body {
  font-family: "Rawline", "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
